
:root {
  --header-footer-color:#344E41;
  --accent-color:#588157;
  --background-color: #DAD7CD;
  --light-green: #A3B18A;
  --dark-green: #3A5A40;
}

* {
  margin: 0;
}

body {
  background-color: var(--background-color);
}

#content {
  max-width: 1024px;
  background-color: white;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--header-footer-color);
  color: white;
}

h1, nav {
  border: solid 2px var(--header-footer-color);
  padding: 20px 0 20px 0;
}

#heroImage {
  z-index: -1;
  width: 100%;
}

#parkInfo {
   background-color: var(--light-green) 89;
   border: solid 2px var(--header-footer-color);
   width: 100%;
   padding: 0;
   margin:0;
   display: flex;
   position: absolute;
   bottom: 8px;
   left: 16px;
}

#parkName {
  padding: 50px;;
}

#parkMenu ul {
  display: flex;
  padding: 0;
  background-color: var(--light-green);
  border: solid 2px var(--header-footer-color);
}

#parkMenu ul li {
  width: 20%;
  list-style-type: none;
}

#parkMenu ul li p {
  text-align: center;
}

#parkMenu ul li svg {
  width: 50%;
}

footer {
  border: solid var(--header-footer-color) 2px;
  text-align: center;
  background-color: var(--header-footer-color);
}